{% extends 'landingpage/base.html' %} 


{% block content %} 
<div class="wrapper">



    <div class="body">
   
       <div class="header">
           <h1>WELCOME TO SHOPPING BUDDY!</h1>
           <p>Login As?</p>
   
       </div>
   
       <!-- Buttons -->
       <div class="assistantbtn">
           <a href="/register/">
               <p> Assistant </p>
           </a>
       </div>
       <div class="callerbtn">
           <a href="/register/">
               <p> Caller</p>
           </a>
        </div>   
   </div>




</div>

{% endblock %}