{% extends 'assistant/base.html' %} 

{% block title %}Edit{% endblock title %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <label for="username" >Username</label><br>
            {{form.username}}<br>
            <label for="email" >Email</label><br>
            {{form.email}}<br>
            
            <label for="phone" >Phone NO:</label><br>
            {{form.phone}}<br>
            <label for="is_available" >Phone NO:</label><br>
            {{form.is_available}}<br>
            
            <input type="submit" value="Update">
        </form>
              


    </div>
    
{% endblock %}