{% extends 'assistant/base.html' %} 

{% block title %}Home{% endblock title %}
{% block content %}
    
    <h1>Welcome Assistant {{user.username|capfirst}}</h1><br>
  
    <a href="{% url 'Signup' %}">Logout</a> <br>
    <div>
        {% if instance.list_file %}

        Buddy: <l1>{{Caller.user.username|capfirst}}</l1> <br>
        Email: <l1>{{ Caller.email }}</l1> <br>
        Ph: <l1>{{ Caller.phone }}</l1><br> 
        Location: <l1>{{ Caller.pickup_location }}</l1>  <br>

        

            <img src = "{{ instance.list_file.url }}" class="img-responsive"  width="400" 
            height="500" >
            Amount: Rs<l1>{{ form.estimated_amount }}</l1><br>
        
        {% endif %}<br>
         
    </div>
    

    <a href="{% url 'edit_profile_assistant' %}">Edit Profile</a>



{% endblock %}


