{% extends 'assistant/base.html' %} 

{% block title %}Sign Up{% endblock title %}
{% block content %}
<div>
    <h1>Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username" >Username</label><br>
        {{form.username}}<br>
        <label for="email" >Email</label><br>
        {{form.email}}<br>
        <label for="password1" >Password</label><br>
        {{form.password1}}<br>
        <label for="password2" >Confirm Password</label><br>
        {{form.password2}}<br> <br>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            {{ error|escape }}
        {% endfor %}
        {% endif %} <br><br>
        <label for="phone" >Phone NO:</label><br>
        {{form.phone}}<br>
        <label for="pickup_location" >Location</label><br>
        {{form.pickup_location}}<br>
        <label for="pincode" >Pincode</label><br>
        {{form.pincode}}<br> <br>
        <input type="submit" value="Register">
        <div class="callerbtn">
            <a href="{% url 'assistant_signin' %}">
                <p>Already have an account? Sign In</p>
            </a>
         </div>   
    </form>
</div>
{% endblock %}
