{% extends 'caller/base.html' %} 

{% block title %}AddOn{% endblock title %}
{% block content %} 
    <div class="form-group">
        <form acttion="update" method="POST", enctype='multipart/form-data'>
            {% csrf_token %}
            <label for="pickup_location" >Location</label><br>
            {{form.pickup_location}}<br>
            <label for="pincode" >Pincode</label><br>
            {{form.pincode}}<br>
            <label for="list_file" >File</label><br>
            {{form.list_file}}<br>
            <label for="estimated_amount" >Amount</label><br>
            {{form.estimated_amount}}<br>

          

            
            <input type="submit" value="Connect">
        </form>
              


    </div>
{% endblock %}