<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connected</title>
</head>
<style>
    .container{
        text-align:center;
    }
</style>
<body>
    <div class="container">
    {% for assistants in Assistants %}

         <p>{{ assistants.email }}</p> 
         <p>{{ assistants.phone }}</p> 
         <p>{{ assistants.pickup_location }}</p>  
         

    {% endfor %}
    </div>
    
</body>
</html>