
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1>Welcome  Caller at your service {{user.username}}</h1>
    <button type="button">Click Me!
        <a href="{% url 'Signup' %}">Logout</a> 
    </button>
    <button type="button">Connect!
        <a href="#"></a> 
    </button>
    <li><a href="{% url 'edit_profile_caller' %}"> Profile</a> </li>
  
</body>
</html>