{% extends 'caller/base.html' %} 

{% block title %}Sign In{% endblock title %}
{% block content %} 
  
<div class="container">
    <h1>Log In</h1> 
    
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" name="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <h3>{{ error }}</h3>
</div>

{% endblock %}